.button{
	background:lighten(@c4,70%);
	color:@c4;
	.inline-block();
	padding:9px 20px 8px;
	font-size:13px;
	cursor:pointer;
	vertical-align:top;
	border:1px solid lighten(@c4,60%);
	outline:none;
	border-radius:2px;
	vertical-align:bottom;
	.transition-duration(.5s);
	i{margin-right:4px;position:relative;top:1px;}
	&:hover{
		background:lighten(@c4,64%);color:@c4;border:1px solid lighten(@c4,58%);
		transition:0.2s;
	}
	&-dis{color:@c4;
		&:hover{background:lighten(@c4,62%);border:1px solid lighten(@c4,58%);color:@c4;}
	}
	
	&-red{background:@red;color:#fff;border:1px solid darken(@red,4%);
		hover{background:darken(@red,10%);border:1px solid darken(@red,22%);color:#fff;}
	}
	&-min{
	font-size:12px;padding:0 8px;line-height:18px;
	}
	&-max{
		font-size:16px;line-height:normal;padding:5px 14px 4px 14px;
	}
	
	&-red{
		background:@red;
		border:1px solid darken(@red,12%);
		color:#fff;
		&:hover{
			background:darken(@red,8%);
			border:1px solid darken(@red,15%);
			color:#fff;
			
		}
	}
	&-blue{
		background:@blue;
		border:1px solid darken(@blue,8%);
		color:#fff;
		&:hover{
			background:darken(@blue,8%);
			border:1px solid darken(@blue,12%);
			color:#fff;
		}
	}
}



.nohand{cursor:default;}
