.button{
	background:lighten(@c4,70%);
	color:@c4;
	.inline-block();
	padding:8px 20px;
	font-size:12px;
	cursor:pointer;
	vertical-align:top;
	border:1px solid lighten(@c4,60%);
	outline:none;
	border-radius:2px;
	vertical-align:bottom;
	position:relative;
	line-height:12px;
	.transition-duration(.5s);
	
/*
	i{
		margin-right:4px;
		position:absolute;
		vertical-align:middle;
	}
*/
	
	&:hover{
		background:lighten(@c4,64%);color:@c4;border:1px solid lighten(@c4,58%);
		transition:0.2s;
	}

	&.disable{
		border:1px solid @ce;
		color:@c9;
		background:lighten(@ce,6%);
		cursor:not-allowed;
		&:hover{
			cursor: default;
			border:1px solid @ce;
			color:@c9;
			background:lighten(@ce,6%);
		}
	}
	
	&-red{
		background:@red;
		border:1px solid darken(@red,12%);
		color:#fff;
		&:hover{
			background:darken(@red,8%);
			border:1px solid darken(@red,15%);
			color:#fff;
			
		}
		&.disable{
			background:lighten(@red,40%);
			border:1px solid lighten(@red,32%);
			color:lighten(@red,20%);
			&:hover{
				background:lighten(@red,40%);
				border:1px solid lighten(@red,32%);
				color:lighten(@red,20%);
			}
		}
	}
	&-blue{
		background:@blue;
		border:1px solid darken(@blue,8%);
		color:#fff;
		&:hover{
			background:darken(@blue,8%);
			border:1px solid darken(@blue,12%);
			color:#fff;
		}
		&.disable{
			background:lighten(@blue,36%);
			border:1px solid lighten(@blue,30%);
			color:lighten(@blue,20%);
			&:hover{
				background:lighten(@blue,36%);
				border:1px solid lighten(@blue,30%);
				color:lighten(@blue,20%);
			}
		}
	}
	
	&-green{
		background:@green;
		border:1px solid darken(@green,5%);
		color:#fff;
		&:hover{
			background:darken(@green,8%);
			border:1px solid darken(@green,15%);
			color:#fff;
		}
	}
	
	&-min{
		padding:4px 10px;
		font-size:12px;
	}
	
	&-max{
		padding:12px 24px;
		font-size:16px;
	}
	
	&-text{
		border-color:transparent;
		background-color:transparent;
		color:@blue;
		padding:8px 10px;
		
		&:hover{
			color:darken(@blue,5%);
			text-decoration:underline;
			border-color:transparent;
			background-color:transparent;
		}
	}
	&-txt{
		border-color:transparent;
		background:transparent;
		color:@blue;
		text-decoration:underline;
		vertical-align:top;
		padding:0 20px;
		&:hover{
			color:darken(@blue,10%);
			border-color:transparent;
		background:transparent;
		}
	}
}



.nohand{cursor:default;}
