.normalize();.reset();

html{
	background:#fff;font-size:12px;font-family:Roboto,sans-serif; 
}
*{.box-sizing(border-box);}
li{list-style:none;margin:0;padding:0;}
a{text-decoration:none;color:@blue;}