input[type='text'],
input[type='tel'],
input[type='email'],
input[type='date'],
input[type='password'],
textarea{
	border:1px solid darken(@ce,5%);
	outline:none;
	padding:8px 4px 7px;
	font-size:13px;
	color:@c4;
	.placeholder(@c2);
	.appearance(none);
	.placeholder(@c9);
	margin:0;
	.transition-duration(.5s);
	&:focus{
		border:1px solid @c8;
	}
}
.search-box{
	margin:20px 0;
}
.searchform {
	.inline-block();font-size:0;
	input[type='text']{width:240px;font-size:13px;.anm();
		&:focus{border:1px solid @red;}
	}
	
	div{position:relative;}
	.button{margin-left:-1px;
		border-radius:0 2px 2px 0;
	}
	.search-icon{
		min-width:32px;
		line-height:32px;
		min-height:32px;
		padding:0;
		text-align:center;
		i{
			margin-right:0;
			left:50%;
			margin-left:-10px;
		}
	}
}
.search-form{
	
}

textarea{
	line-height:1.6;
}

.inputgroup{
	position:relative;
	.inline-block();
	input[type='text']{
		border-radius:2px 0 0 2px;
	}
	input:focus{
		z-index:14;
	}
	.btn{
		border-radius:0 2px 2px 0;
		margin-left:-1px;
		position:relative;
		z-index:1;
	}
}

.selectbox{
	border:1px solid darken(@ce,5%);
	.inline-block();
	overflow:hidden;
	width:220px;
	height:30px;
	vertical-align:top;
	background:#fff url(../images/selarr.png) no-repeat right center;
	border-radius:2px;
	position:relative;
	
	select{
		appearance:none;
		-webkit-appearance:none;
		border:none;
		width:120%;
		line-height:30px;
		font-size:13px;
		padding:0 4px;
		margin:0;
		outline:none;
		background:transparent;
		color:@c4;
	}
	&:after{
		content:'';
		border:4px solid transparent;
		border-top-color:@c4;
		position:absolute;
		right:12px;
		top:50%;
		margin-top:-2px;
	}
}
	
.formlist{
	fieldset{
		padding-left:100px;
	}
	&-title{
		margin:20px 0;
		font-size:26px;
		line-height:1.6;
		color:@red;
		&-sub{
			line-height:1.6;
			color:@c8;
			font-size:12px;
		}
	}
	&-bar{
		margin:20px 0;
		padding-left:100px;
		.button{
			margin-right:12px;
		}
	}
	.formtitle{
		font-size:18px;
		line-height:1.6;
		padding:10px 0;
		margin:20px 0;
		border-bottom:1px solid @ce;
		&-sub{
			font-size:12px;
			color:@c9;
			display:block;
		}
	}
	
	
	.value{
		line-height:32px;
		vertical-align:top;
	}
	
	input[type='text'],
	input[type='tel'],
	input[type='email'],
	input[type='date'],
	input[type='password'],
	.selectbox{
		width:500px;
	}

	.inputgroup{
		position:relative;
		input[type='text']{border-radius:2px 0 0 2px;}
		input:focus{z-index:14;}
		.btn{border-radius:0 2px 2px 0;margin-left:-1px;position:relative;z-index:1;}
	}

}

.fgroup{
	position:relative;
	margin-bottom:25px;
	label{
		margin-right:10px;
		cursor:pointer;
	}
	>i{
		display:block;
		color:@c3;
		font-size:12px;
		margin-bottom:8px;
		span,em{
			color:@red;
			position:relative;
			top:2px;
			right:4px;
		}
	}
	.error{
		color:@red;
		font-size:12px;
		.inline-block();
		margin-left:10px;
	}
	
	&-inline{
		.inline-block();
		margin-right:20px;
		input[type='text'],
		input[type='tel'],
		input[type='email'],
		input[type='date'],
		input[type='password'],
		.selectbox{
			width:151px;
		}
		&>i{
			display:block;
			font-size: 12px;
		    margin-bottom: 8px;
		}
	}
	&-block{
		margin:0 auto;
		.ui-radio,
		.ui-checkbox,
		.ui-switche{
			display:block;
			height:auto;
			margin:30px 0;
			&+label{
				margin:0;
				padding:0;
			}
		}
		.subtitle{
			line-height:normal;
			display:block;
			margin-top:12px;
			color:@c9;
		}
	}
}
.formError{
	padding:10px 20px;
	top:20px !important
}
.formErrorContent{
	color:@red;
}
	
.widthformlist{
	.fgroup{
		padding-left:166px;
		&>i{
			width:160px;
		}
	}
}

.timegroup{
	.inline-block();
	&>div{
		.inline-block();position:relative;
	}
	input[type='text']{
		width:160px;
	}
	i.ico{position:absolute;right:5px;top:0;line-height:32px;}
}

.blockformlist{
	.fgroup{padding-left:0;
		>i{position:inherit;display:block;width:100%;}
		input[type='text'],textarea,.selectbox{width:300px;}
	}
	
}

.valid_message{
	color:@red;
}

.error input[type="text"],.error input[type="password"]{
	border-color:@red;
}

.success .valid_message{
	&:before{}
}

.colformlist{
	.fgroup{
		.inline-block();
		vertical-align:top;
		padding-left:0 !important;
		width:33%;
	
		>i{
			width:80px;
			position:inherit;
			.inline-block();
			vertical-align:top;
			text-align:right;
		}
	}
	
	.timegroup{
		input{
			width:140px;
		}
	}
	
	input,textarea{
		width:220px;
	}
}

.headformlist{
	.fgroup{
		width:33%;
	}
}


.timechoose{
	span{
		margin:0 10px;
	}
}


.inlineform{
	.fgroup{
		.inline-block();
		padding-left:0;
		margin-right:10px;
		>i{
			width:auto;
			position:inherit;
			.inline-block();
		}
	}
	.daterang{
		width:220px;
		
	}
}

.upfilebox{
	.inline-block();
	position:relative;
	font-size:0;
	input[type='file']{
		opacity:0;
		width:300px;
		.absolute(0,0,0,0);
	}
	input[type='text']{
		width:320px;
		font-size:13px;
		
	}
	
	.button{
		border-radius:0 2px 2px 0;margin-left:-1px;position:relative;z-index:2;
	}
}
