table{
	border-collapse:collapse;width:100%;
}
.table{
	&-line{
		width:100%;
		th,td{text-align:left;}
		th{background:@ce;padding:14px;font-weight:700;}
		td{padding:12px;border-bottom:1px solid @ce;color:@c6;}
	}
	&-tool{
		.inline-block();
		a{padding:2px 6px;}
	}
}